@import "tailwindcss";

* {
  font-family: "poppins", sans-serif;
}
.container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container h1 {
  font-size: 70px;
}

.list li {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  cursor: pointer;
}
.list li:hover {
  background-color: indigo;
}
.active {
  background-color: rgb(119, 0, 130);
}
.BUTTON button {
  background: rgb(0, 174, 255);
  padding: 12px;
  margin: 0px 10px;
  border-radius: 7px;
  cursor: pointer;
}
